* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: vazir;
    user-select: none;
}

/* container */

.container {

    height: 100vh;
    background-color: rgb(165, 105, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

/* nav */

nav {

    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li {

    list-style-type: none;
    font-size: 1.2rem;
    padding: 5px 10px;

    position: relative;
}

nav ul li::after {

    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, red, blue);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all 0.5s;

}

nav ul li:hover::after {

    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}